


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






nav{

    
    background-color: rgb(17, 58, 240);
    padding: 10px;
    font-weight: 700;
    
    

    
}

a{

    
    margin-top: 10px;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24px;
    
}

button{
    

    margin-top: 10px;
    display: block;
    background-color: rgba(4, 0, 247, 0.945);
    border: none;
    color: white;
    width: 100%;
    line-height: 30PX;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 800
    
}

.card{

    display: inline-block;
    background-color: #fff;
    border-radius: 12px;
    margin-left: 60PX;
    margin-top: 60PX;
    text-align: center;
    color: rgb(56, 54, 54);
    width: 160px;
    


}

img {

    background-color: blue;

    width: 120px;
    cursor: pointer;
    
    
}


h1 {
    font-size: 26px;
    text-align: center;
     margin-left: 10px;
     margin-right: 10px;
}

h2 {

    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

span {
text-align: center;

    
}

input {

border: 0;
color: rgb(63, 61, 61);
background-color: #EEE;
outline: none;
display: block;
text-align: center;
line-height: 36px;
margin-top: 50px;
margin-left: 25%;
border-radius: 25px;
font-size: 20px;
width: 600px;

}

input:focus {
box-shadow: 0px 0px 3px rgb(107, 106, 106);

}




















































